<% include partials/_header %>


<div  id="welcomeBox" class="container">
  <%if(user){%>
  <div><h1 id="urlWelcome">Welcome Back:</h1> <h1 id="urlWelcome"><%= user.email %> </h1></div>
  <%}%>
  <br>
  <br>
  </div>
  <div id="newURL"><a id="newURL" href="/urls/new"><button id="newURL">Create a new URL</button></a></div>
  <br>
  <br>
<ul>
  <% for(var i =0;i < urls.length; i++){%>
  <li> <%= urls[i].shortURL %> : <%= urls[i].longURL %>
   <a href="/urls/<%= urls[i].shortURL %> "><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
  <form style="display:inline" method="POST" action="/urls/<%=urls[i].shortURL%>/delete">
    <button id="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></form>
 <%}%>
 </li>
</ul>




<% include partials/_footer %>
